{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}

    <section class="bg-white dark:bg-gray-900">
        <div class="max-w-xl px-4 py-8 mx-auto lg:py-16">
            <div class="flex justify-between mb-4">
                <h2 class="text-xl font-bold text-gray-900 dark:text-white">Profile</h2>
                <div class="font-medium text-lg text-gray-800 dark:text-gray-200">
                    <p>Mitgliedsbeitrag: {{ fee }}€</p>
                </div>
            </div>

            <div class="grid gap-4 mb-4 sm:grid-cols-2 sm:gap-6 sm:mb-5">
                <div class="sm:col-span-2">
                    <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
                    <input type="text" name="username" id="username" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{ user.userName }}" placeholder="Type product name" required="" disabled>
                </div>
                <div class="w-full">
                    <label for="firstName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Vorname</label>
                    <input type="text" name="firstName" id="firstName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{ user.firstName }}" placeholder="Product brand" required="" disabled>
                </div>
                <div>
                    <label for="lastName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nachname</label>
                    <input type="text" name="lastName" id="lastName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{ user.lastName }}" placeholder="Product brand" required="" disabled>
                </div>

                <div>
                    <label for="birthday" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Geburtstag</label>
                    <div class="relative max-w-sm">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-3 py-2.5 pointer-events-none">
                            <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
                        </div>
                        <input datepicker datepicker-format="dd.mm.yyyy" type="text" name="birthday" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 pl-10 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" style="padding-left: 2.5rem" value="{{ user.birthday|date("d.m.Y") }}" disabled>
                    </div>
                </div>

                <div>
                    <label for="profession" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Profession</label>
                    <select id="profession" name="profession" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" disabled>
                        <option value="1" {% if user.profession is same as(1) %} selected {% endif %}>Vollbeschäftigt</option>
                        <option value="2" {% if user.profession is same as(2) %} selected {% endif %}>Schüler/Student</option>
                        <option value="3" {% if user.profession is same as(3) %} selected {% endif %}>Arbeitssuchend/Rente</option>
                    </select>
                </div>

                <div>
                    <label for="memePriority" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Meme Priority</label>
                    <input type="text" name="memePriority" id="memePriority" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{ user.memePriority }}" disabled>
                </div>

                <div>
                    <div class="flex items-center h-5 py-auto">
                        <input id="sepa" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 mr-2" {% if user.sepaAllowed %} checked {% endif %} disabled>
                        <div class="py-auto ml-2">
                            <label for="sepa" class="block text-sm font-medium text-gray-900 dark:text-white">SEPA Zustimmung</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex items-center space-x-4">
                <a href="/user/{{ user.id }}/edit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Bearbeiten
                </a>
                {{ include('user/_delete_form.html.twig') }}
            </div>
        </div>
    </section>
{% endblock %}
